<!-- @include _header -->


  <section class="main">

  <ul>
    <li class="block">
      <h3>F.A.Z-Ökonomenranking 2015</h3>
      <p>
      Drei Forscher der IREBS International Real Estate Business School der Universität Regensburg sind in der bundesweiten Rangliste der einflussreichsten Ökonomen unter den Top 100 platziert: Prof. Dr. Tobias Just, Prof. Dr. Joachim Möller und Prof. Dr. Steffen Sebastian.</p>
      <a class="more">Mehr...</a>
    </li>
    <li class="block">
      <h3>Mietspiegel brauchen größere Marktnähe und bessere Datengrundlage.</h3>
      <p>
      Die Mietpreisbremse in Deutschland wird umgesetzt: Bei der Wiedervermietung von Wohnungen darf die Miete nicht mehr als zehn Prozent...
      </p>
      <a class="more">Mehr...</a>
    </li>
    <li class="block">
      <h3>IREBS Standpunkt 40: Die Gewinner-Essays des 2. "Ideenpreis Immobilien für eine alternde Gesellschaft"</h3>
      <p>
      Die IREBS Immobilienakademie hat zum zweiten Mal den Ideenpreis „Immobilien für eine alternde Gesellschaft“ vergeben. Die Teilnehmer des Wettbewerbs waren in diesem Jahr aufgefordert...
      </p>
      <a class="more">Mehr...</a>
    </li>
    <li class="block">

      <h3>IREBS Studie in Frankfurt & Berlin vorgestellt</h3>
      <p>
      Die Studie „German Debt Project“ der International Real Estate Business School (IREBS) präsentiert mit Unterstützung des Verbands deutscher Pfandbriefbanken (vdp) – und neun renommierten Unternehmen aus...</p>
      <a class="more">Mehr...</a>
    </li>
  </ul>


  </section>

<!-- @include _footer -->
