
@import "bourbon/bourbon";
@import "neat/neat";


// VARIABLES
$mobile: new-breakpoint(max-width 420px 4);
$tablet: new-breakpoint(max-width 780px 4);
$max-width: 979px !global;
$em-base: 14px;

// COLORS
$border-color: #cccccc;
$paragraph-color: #888888;
$irebs-color: #08223B;

// GLOBAL
body {
  font-family: $helvetica;

  color: $paragraph-color;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

header, footer, section, .header, .header-text {
  @include outer-container;
}

// TYPO
h1 {
  @include padding(.5em 0em .5em 0em);
  font-weight: 300;
  font-size: 1.8em;
  @include media($mobile) {
    font-size: 1.2em;
  }
}
h2 {}
h3 {color: $irebs-color; font-size: 1.2em; line-height: 1.5em; margin-bottom: 5px;}
p {
  line-height: 1.6;
  margin-top: 0px;
  font-size: .875em;

}

// LINKS
a {
  color: $irebs-color;
}
// HEADER
header {
  .logo {
    @include padding(1em 0em 1em 0em);
  }
  nav {
    ul {padding: 0px;}
    li {display: inline-block; margin-bottom: 10px;margin-right: 10px;
      a {
        color: $irebs-color;
        text-decoration: none;
        :hover {
          color: $paragraph-color;
        }
      }
    }
  }
}


.balken-grey { background-color: #ccc; display: block; height: 5px; border-bottom: 1px solid #fff;}
.balken-blue {background-color: $irebs-color; display: block; height: 22px;}


.header {
  background-color: $irebs-color;
  .slick-slider {
    margin-bottom: 0px;
  }
}
.header-text {

  @include padding(2em 2em 2em 2em);
  background-color: $irebs-color;
  color: white;
  @include media($mobile) {
    @include shift(0);
    @include span-columns(4);
  }
}

// INHALT
section {
  ul {
    margin: 0px;
    padding: 0px;
    li.block {
    @include span-columns(6);
    @include omega(2n);
    border: 1px solid $border-color;
    @include padding(1em 1em 1em 1em);
    @include margin(1.5em null null null);
    min-height: 270px;
    p {
      font-size: .875em;
    }
    a {
      font-size: .875em;
    }
    @include media($tablet) {
      @include span-columns(2);
      @include omega(2n);
    }
    @include media($mobile) {
      @include span-columns(4);
      @include omega(1n);
    }
    }
  }
}

// FOOTER
footer {

  @include margin(3.5em null 2.5em null);
}
