<nav>
  <ul>
    <li><a class="" href="#"><span>Home</span></a></li>
    <li><a class="" href="#"><span>IREBS</span></a></li>
    <li><a class="" href="#"><span>Studium</span></a></li>
    <li><a class="" href="#"><span>Weiterbildung</span></a></li>
    <li><a class="" href="#"><span>Forschung</span></a></li>
    <li><a class="" href="#"><span>Veranstaltungen</span></a></li>
    <li><a class="" href="#"><span>Kontakt</span></a></li>
  </ul>
</nav>
